@media only screen and (max-width: 1281px) {
  /* hi-res laptops and desktops */ }

@media only screen and (max-width: 1200px) {
  .slider_item {
    left: 40px; }
  .slick-next {
    right: -2%; }
  .slick-prev {
    left: -2%; }
  .slider_text {
    margin-left: 0; }
  .slider_item_two .slider_text {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 50px; } }

@media only screen and (max-width: 1050px) {
  .slider_item {
    width: 880px;
    left: 25px; }
  .slider_text {
    font-size: 50px; }
  .slider_text_big {
    font-size: 120px; } }

@media only screen and (max-width: 961px) {
  .slider_item_two .slider_text_big {
    font-size: 100px; } }

@media only screen and (max-width: 641px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }

@media only screen and (max-width: 481px) {
  /* smartphones, Android phones, landscape iPhone */ }

@media only screen and (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
