body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}

.main {
	background: url(../img/background-p3.jpg);
}

.head {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo_block {
	margin-top: 45px;
}

.logo {
	padding: 15px 80px;
	background: url(../img/logo.png) no-repeat;
}

.nav_menu {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	max-width: 540px;
	width: 100%;
}

.nav_menu_link {
	color: white;
	font-family: Lato Regular, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: none;
	padding: 40px 25px 15px 25px;
	border-radius: 5px;
	&:hover {
		background: #91778e;
	}
}

/* active page */

.page_home.active {
	background-color: #74c7d5;
	border-radius: 5px;
}

.page_services.active {
	background-color: #df5c64;
	border-radius: 5px;
}

.page_about.active {
	background-color: #91778e;
	border-radius: 5px;
}

.page_work.active {
	background-color: #a1ca6c;
	border-radius: 5px;
}

.page_contacts.active {
	background-color: #82c8bd;
	border-radius: 5px;
}

/* end active page */

.about_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.about_content_title {
	color: white;
	font-family: Lato, sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 58px;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.about_content_text {
	color: #e6d1e3;
	font-family: Lato Regular, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 55px;
}

.meet {
	position: relative;
	color: white;
	font-family: Lato Black, sans-serif;
	font-size: 25px;
	font-weight: 900;
	line-height: 58px;
	text-transform: uppercase;
	background: #a1ca6c;
	border-radius: 5px;
	padding: 0 40px;
	margin-bottom: 70px;
	&:after {
		position: absolute;
		content:"";
		bottom: -15px;
		left: calc(50% - 15px);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 15px 0 15px;
		border-color: #a1ca6c transparent transparent transparent;
	}
}

.about_team {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about_user {
	background: rgba(77, 63, 75, 0.5);
	border-radius: 5px;
	max-width: 260px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 115px;
	margin-right: 10px;
	&:hover {
		background: rgba(77, 63, 75, 0.8);
	}
}

.about_user_pic {
	position: relative;
	width: 150px;
	height: 150px;
	background: #fff url(../img/user.png) no-repeat top center;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-top: 50px;
	margin-bottom: 16px;
	overflow:hidden;
	&:after {
		position: absolute;
		content:"";
		width: 152px;
		height: 152px;
		top: -6px;
		left: -6px;
		border: 5px solid #947a92;
		border-radius: 50%;
	}
}

.about_user_title {
	color: #c7b6c5;
	font-family: Lato Black, sans-serif;
	font-size: 25px;
	font-weight: 900;
	line-height: 58px;
	text-transform: uppercase;
	margin: 0;
}

.about_user_text {
	color: #a1ca6c;
	font-family: Lato Regular, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	margin-bottom: 25px;
}

.about_user_social {
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin-bottom: 30px;
	& li {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #a1859e;
	}
}

.user_social_link {
	display: inline-block;
	width: 30px;
	height: 30px;
	&.fb {
		background: url(../img/facebook.png) no-repeat center center;
	}
	&.tw {
		background: url(../img/twit.png) no-repeat center center;
	}
	&.google {
		background: url(../img/g+.png) no-repeat center center;
	}
	&.in {
		background: url(../img/lin.png) no-repeat center center;
	}
}

.about_user:hover {
	& .about_user_pic {
		background: #fff url(../img/user-hover.png) no-repeat top center;
	}
	& .about_user_title {
		color: #fff;
	}
	& .user_social_fb {
		background: #4f689e;
	}
	& .user_social_tw {
		background: #74c7d5;
	}
	& .user_social_google {
		background: #df5c64;
	}
	& .user_social_in {
		background: #3e61af;
	}
}