body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}

.main {
	background: url(../img/background-p5.jpg);
}

.head {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo_block {
	margin-top: 45px;
}

.logo {
	padding: 15px 80px;
	background: url(../img/logo.png) no-repeat;
}

.nav_menu {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	max-width: 540px;
	width: 100%;
}

.nav_menu_link {
	color: white;
	font-family: Lato Regular, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: none;
	padding: 40px 25px 15px 25px;
	border-radius: 5px;
}

/* active page */

.page_home.active {
	background-color: #74c7d5;
	border-radius: 5px;
}

.page_services.active {
	background-color: #df5c64;
	border-radius: 5px;
}

.page_about.active {
	background-color: #91778e;
	border-radius: 5px;
}

.page_work.active {
	background-color: #a1ca6c;
	border-radius: 5px;
}

.page_contacts.active {
	background-color: #82c8bd;
	border-radius: 5px;
}

/* end active page */

.content_contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-bottom: 120px;
}

.contacts_content_title {
	display: block;
	color: #fff;
	font-family: Lato Light, sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 58px;
	text-transform: uppercase;
}

.contacts_content_text {
	color: #fff;
	font-family: Lato Regular, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.contacts_info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.address {
	display: flex;
	flex-direction: column;
}

.addres_title {
	color: white;
	font-family: Lato, sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 30px;
}

.address_info {
	margin-bottom: 70px;
	& p {
		margin: 0;
		margin-bottom: 4px;
	}
}

.address_info .address_info_title {
	color: #c0dfda;
	font-family: Lato Bold, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 17px;
	margin-bottom: 15px;
}

.address_city,
.address_street {
	color: #fff;
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}

.address_contacts {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.address_contacts p {
	display: inline-block;
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #d0efea;
	margin: 0;
	margin-bottom: 5px;
}

.address_contacts a {
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #fff;
	text-decoration: none;
}

.address_contacts .mail_address {
	text-decoration: underline;
}

.address_block {
	display: flex;
	justify-content: space-between;
}

.map {
	width: 260px;
	height: 220px;
	background: url(../img/content/map.jpg);
	background-position: -50px -120px;
	margin: 0 10px;
	margin-top: 115px;
}

.user_form_title {
	color: #fff;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	line-height: 30px;
}

.user_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.user_form_item input {
	background-color: #68a097;
	border-radius: 4px;
	border: none;
	padding: 10px 20px;
	outline: none;
	margin-bottom: 20px;
	&:focus {
		background: #fff;
	}
}

.user_form_item .name {
	margin-right: 15px;
}

.user_form_item input::-webkit-input-placeholder {
	color: #82c8bd;
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}

.user_form_item input::-moz-placeholder {
	color: #82c8bd;
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}

.user_form_item input:-moz-placeholder {
	color: #82c8bd;
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}

.user_form_item input:-ms-input-placeholder {
	color: #82c8bd;
	font-family: Lato Regular, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}

.user_form_item input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.user_form_item input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.user_form_item input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.user_form_item input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.user_ask {
	display: block;
	background-color: #68a097;
	border-radius: 4px;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: 30px;
	&:focus {
		background: #fff;
	}
}

.form_btn {
	color: #fff;
	font-family: Lato Black,  sans-serif;
	font-size: 26px;
	font-weight: 900;
	line-height: 21px;
	padding: 12px 95px;
	background-color: #df5c64;
	border:none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: inset 0 -4px 0 rgba(178, 74, 80, 0.5);
}

.footer {
	background: #68a097;
}

.social {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
}

.social_list {
	position: relative;
	width: 60px;
	height: 60px;
	background: #82c7bc;
	border-radius: 50%;
	margin: 40px 0;
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}

.social_link {
	position: absolute;
	top:0;
	left:0;
	padding: 30px 30px;
}

.facebook:hover {
	background: #4f689e;
}

.twitter:hover {
	background: #74c7d5;
}

.google:hover {
	background: #DF5C64;
}

.linkedin:hover {
	background: #3E61AF;
}

.social_link.fb {
	background: url(../img/footer-fb.png) no-repeat;
	background-position: center center;
}
.social_link.tw {
	background: url(../img/footer-twit.png) no-repeat;
	background-position: 17px 19px;
}
.social_link.go {
	background: url(../img/footer-g+.png) no-repeat;
	background-position: 18px 16px;
}
.social_link.lin {
	background: url(../img/footer-lin.png) no-repeat;
	background-position: 17px 12px;
}