body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}

.main {
	background: url(../img/background.jpg);
	background-position: center center;
}

.head {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 150px;
	height: 30px;
	background: url(../img/logo.png);
	margin-top: 45px;
}

.nav_menu {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	max-width: 540px;
	width: 100%;
}

.nav_menu_link {
	color: white;
	font-family: Lato Regular, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: none;
	padding: 40px 25px 15px 25px;
	border-radius: 5px;
}

/* active page */

.page_home.active {
	background-color: #74c7d5;
	border-radius: 5px;
}

.page_services.active {
	background-color: #df5c64;
	border-radius: 5px;
}

.page_about.active {
	background-color: #91778e;
	border-radius: 5px;
}

.page_work.active {
	background-color: #a1ca6c;
	border-radius: 5px;
}

.page_contacts.active {
	background-color: #82c8bd;
	border-radius: 5px;
}

/* end active page */

/* slider */

.content_home {
	max-width: 1100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.slider_block {
	position: relative;
	outline: none;
}

.slider_item {
	position: relative;
	background-color: rgba(255,255,255,0.3);
	border-radius: 4px;
	// max-width: 100%;
	left: 120px;
	// width: 970px;
	margin-top: 300px;
	margin-bottom: 313px;
	outline: none;
}

.slider_item_two {
	left:0;
}

.slider_item_two .slider_text {
	margin-right: 10px;
	margin-left: 10px;
}

.slider_text {
	display: inline-block;
	color: #74c7d5;
	font-family: Lato Light, sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 1;
	max-width: 390px;
	text-align: right;
	margin: 35px 30px 30px 45px;
}

.slider_text_big {
	color: #74c7d5;
	font-family: Lato Black, sans-serif;;
	font-size: 138px;
	font-weight: 900;
	line-height: 1;
}

.slick-prev {
	background: url(../img/arrow-left.png);
	width: 34px;
	height: 56px;
	left: -55px;
}

.slick-next {
	background: url(../img/arrow-right.png);
	width: 34px;
	height: 56px;
	right: -55px;
}

.slick-dots {
	bottom: 90px;
}

.slick-dots li button:before {
	content:"";
	background: #fff;
	opacity: .5;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.slick-dots li.slick-active button:before {
	width: 20px;
	height: 20px;
	background: #74c7d5;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}